# 🐍 Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Environments
.venv/
env/
venv/

# 🔑 Environment variables
.env
.cache-Fulger

# 📂 IDE / Editor
.idea/
.vscode/
*.swp

# 💻 OS files
.DS_Store
Thumbs.db

# 🔧 Build / Packaging
build/
dist/
*.egg-info/
chrome_profile/